<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<LIVE_API_URL>https://api.caravanclub.co.uk/</LIVE_API_URL>
	<LIVE_API_KEY>?apikey=l7xx5e41e5d4928243d08614a6c2436f5333</LIVE_API_KEY>
	<TEST_API_URL>https://api.caravanclub.co.uk/</TEST_API_URL>
	<TEST_API_KEY>?apikey=dsieifj3958f845589dk4k6k</TEST_API_KEY>

	<API_VERSION>v1.0</API_VERSION>
	<FRIENDLY_ERROR_STATUS_CODE>500</FRIENDLY_ERROR_STATUS_CODE>
	<API_DOWN_STATUS_CODE>503</API_DOWN_STATUS_CODE>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="XLabs.Serialization" publicKeyToken="d65109b36e5040e4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.5782.15703" newVersion="2.0.5782.15703" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
