<div class="content_wrapper">
    <div class="top_content">
        <div class="header">
            <div class="iphone">
                <img src="images/image.jpg" alt="" />
            </div>
            <div class="logo_content">
                <h1><strong>Jamnation</strong>BJJ</h1>
                <h3>The <strong>training partners</strong> near you, <strong>today!</strong></h3>
                <p>Our app will allow you to connect with training partners near you to help you achieve your goals to the best of your ability</p>
                <!--a href="#" class="get_notified"><strong>Get Notified</strong> on the day of launch!</a-->
            </div>
        </div>
    </div>

    <div class="shadow"></div>
    <div class="white_content">
        <div class="top_content">
            <div class="header">
                <div class="coming_soon">
                    <p class="c_soon">we're <br /> <strong>Coming Soon</strong> <br /> to your Phone</p>
                </div>

                <div class="copyright"><p>Copyright 2016. <br /> All Rights Reserved. <br /> <span><a href="http://cooshla.com"><strong>cooshla</strong></a></span></p></div>
            </div>
        </div>
    </div>
</div>
