<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Coming Soon</title>
    <link href="tools/style.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="tools/jquery.min.js"></script>
    <script type="text/javascript" src="tools/cufon-yui.js"></script>
    <script type="text/javascript" src="tools/Comfortaa_250-Comfortaa_700.font.js"></script>
    <script type="text/javascript">
        Cufon.replace('h1', { fontFamily: 'Comfortaa' });
        Cufon.replace('p.c_soon strong', { fontFamily: 'Comfortaa' });

    </script>
</head>
<body>

    @RenderBody()
    
</body>
</html>
